.nav-bar {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em 5em;
  padding-right: 3em;
}

.modal-content button {
  margin: 0.5em;
  background: none;
}

.connection-bar button {
  background-color: white;
  color: black;
}
